<div class="errors_pane">{{errors}}</div>
<div class="errors_pane messages">{{messages}}</div>
<div class="admin_panel">
    <h1>Add a Flight</h1>
    <input type="text" [(ngModel)]="origin" placeholder="origin">
    <input type="text" [(ngModel)]="destination" placeholder="destination">
    <input type="number" [(ngModel)]="flightNumber" placeholder="flight number">
    <span>depart:</span>
    <input type="date" [(ngModel)]="depart">
    <span>arrive:</span>
    <input type="date" [(ngModel)]="arrive">
    <span>nonstop:</span>
    <input type="checkbox" (click)="toggleNonStop()">

    <button (click)="sendFlight()">Create flight</button>
</div>

<div class="editPanel">
    <table class="flightTable">
        <tr>
            <td>origin</td>
            <td>destination</td>
            <td>flight #</td>
            <td>depart</td>
            <td>arrive</td>
            <td>nonstop</td>
            <td>update</td>
            <td>delete</td>
        </tr>
        <tr *ngFor="let flight of flightList; let i=index">
            <td><input [(ngModel)]='flight.origin'></td>
            <td><input [(ngModel)]='flight.destination'></td>
            <td><input [(ngModel)]='flight.flightNumber'></td>
            <td><input type="date" [(ngModel)]='flight.depart'></td>
            <td><input type="date" [(ngModel)]='flight.arrive'></td>
            <td><input [(ngModel)]='flight.nonstop'></td>
            <td><button class="update" (click)="update(flight)">go</button></td>
            <td><button class="delete" (click)="delete(flight)">go</button></td>
        </tr>
    </table>
</div>